@import 'variables.scss';
@import 'mixins.scss';

.articleImage{
    img{
        height: 250px;
        box-shadow: 15px 15px $secondary-color;
    }
}

.articleText{
    padding-left: 10rem;
    padding-bottom: 2rem;

    @include atMedium {
        padding: 4rem 2rem;
    }
}