@import 'variables.scss';

.faq{
    background-color: $background-color;

    .collapseContent{
        display: flex;
        justify-content: space-between;
    }
}

.faqImage{
    img{
        width: auto;
        max-height: 12rem;
        box-shadow: 15px 15px $secondary-color;
    }
}